@font-face {
  font-family: 'PT Sans';
  src: url('ptsans.eot');
  src: local('PT Sans'), local('PTSans-Regular'),
      url('ptsans.eot?#iefix') format('embedded-opentype'),
      url('ptsans.woff') format('woff');
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.wrapper {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.main-header,
.container,
.main-footer {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0px 15px 0px rgb(180, 180, 180);
}

/*-----------------------NAVIGATION-----------------------*/
.travel-menu a {
  text-decoration: none;
}

.main-header-logo {
  position: absolute;
  margin: 0;
  top: 0;
  left: 45%;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.site-navigation a:link {
  color: #000000;
}

.site-navigation a:visited {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a.active {
  color: #766357;
}

.site-navigation li:first-child {
  padding-left: 75px;
  padding-right: 130px;
}

.site-navigation li:nth-of-type(2) {
  padding-right: 371px;
}

.site-navigation li:last-child {
  padding-right: 75px;
  padding-left: 145px;
}

.site-navigation li {
  list-style: none;
  display: inline;
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #ffffff;
}

/*-----------------------WELCOME-----------------------*/
.visually-hidden {
  visibility: hidden;
}

.welcome {
  height: auto;
  margin-top: -60px;
  padding-top: 112px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-image: url("../img/background-photo.jpg");
  background-color: #f2f2f2;
  background-position: top center;
  background-repeat: no-repeat;
}

.welcome img {
  margin-top: -50px;
  margin-bottom: 20px;
}

/*-----------------------MAIN-TITLE-----------------------*/
.main-title {
  background-color: #ffffff;
}

.main-title p {
  text-align: center;
  padding-bottom: 50px;
}

.title {
  font-size: 21px;
  font-weight: 700;
  padding-left: 300px;
  padding-right: 300px;
  margin-top: -2px;
  margin-bottom: 40px;
  padding-top: 65px;
  text-align: center;
}

.title-reason {
  padding-left: 110px;
  padding-right: 110px;
}

/*-----------------------REASONS TO VISIST SEDONA-----------------------*/
.reasons {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.content-reason {
  list-style: none;
  margin: 0;
  padding: 40px 0 42px 0;
  width: 400px;
  height: 100%;
  text-align: center;
  background-color: #eeeeee;
}

.content-reason p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 0 40px;
}

.reason-text {
  padding: 0 25px;
}

.reason-number {
  color: #ffffff;
  background-color: #81b3d2;
}

.basic-reason {
  margin-bottom: 45px;
  background-color: #ffffff;
}

.landscape {
  list-style: none;
  margin: 0;
  width: 800px;
  height: 260px;
}

/*-----------------------BOOKING-----------------------*/
.booking-container {
  position: relative;
  padding-top: 50px;
  min-height: 256px;
}

.booking-container p {
  text-align: center;
  line-height: 22px;
}

h3.booking {
  color: black;
  margin: 0px;
  margin-bottom: 23px;
  font-size: 30px;
  text-align: center;
}
.booking-paragraph {
  margin: 0px;
  color: #333;
}

/*
h3 {
  margin: 0;
  padding-top: 60px;
  font-size: 30px;
  text-align: center;
}

.enter-date {
  margin: 40px 0 40px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}
*/

/*-----------------------MODAL-WINDOW-----------------------*/
.search-form {
  position: absolute;
  top: 250px;
  margin-left: 320px;
  width: 568px;
  background-color: #fff;
  z-index: 2;
}

.search-form-header {
  font-size: 21px;
  text-align: center;
  line-height: 83px;
  color: #fff;
  background-color: #766357;
  padding-left: 2px;
  padding-top: 1px;
}

.form-title a {
  padding: 35px 117px;
  font-size: 21px;
  background-color: #766357;
  text-decoration: none;
  color: #fff;
}

.modal-search-form {
  position: relative;
  top: 34px;
  flex-wrap: wrap;
  margin: 0;
  padding: 53px 50px 54px 56px;
  display: none;
}

.modal-search-form.on {
  display: flex;
}

.modal-search-form label {
  box-sizing: border-box;
  width: 110px;
  line-height: 36px;
}
label.date-in {
  padding-top: 2px;
  padding-left: 2px;
}

.kids {
  padding-left: 57px;
}

.modal-search-form input {
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: none;
}

.modal-search-form input[type="text"] {
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 40px;
  width: 344px;
  height: 38px;
  font-size: 14px;
  color: #000;
  margin-left: 6px;
  line-height: 38px;
}

.modal-search-form input[type="text"]:hover,
.modal-search-form input[type="text"]:hover + .icon-calendar {
  background-color: #ebebeb;
  border: none;
}

.modal-search-form input[type="text"]:focus,
.modal-search-form input[type="text"]:focus + .icon-calendar {
  background-color: #fff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.modal-search-form input[type="text"]:focus {
  padding-left: 13px;
}

.modal-search-form input[type="text"]:focus + .icon-calendar {
  line-height: 33px;
  border-left: none;
  border-right: none;
}

.date-in,
.date-out {
  font-weight: 700;
}

.date-in::placeholder,
.date-out::placeholder {
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
}

.date-in:-ms-input-placeholder,
.date-out:-ms-input-placeholder {
  color: #000000;
  }

.date-in::-ms-input-placeholder,
.date-out::-ms-input-placeholder {
  color: #000000;
}

.modal-search-form input[type="number"] {
  margin-bottom: 54px;
  width: 125px;
  height: 38px;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.modal-search-form .icon-calendar,
.adults-icon.icon-minus,
.adults-icon.icon-plus,
.kids-icon.icon-minus,
.kids-icon.icon-plus {
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  color: #a9a9a9;
  background-color: #f2f2f2;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
  z-index: 2;
}

.modal-search-form .icon-calendar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  width: 65px;
  height: 35px;
  left: 443px;
  text-align: right;
  font-size: 22px;
}

button.calendar {
  border: none;
  background-color: transparent
}

.icon-calendar.date-in {
  top: 55px;
}

.icon-calendar.date-out {
  top: 123px;
}

.icon-minus,
.icon-plus {
  top: 191px;
}

.adults-icon.icon-minus {
  left: 168px;
}

.adults-icon.icon-plus {
  left: 243px;
}

.kids-icon.icon-minus{
  left: 399px;
}

.kids-icon.icon-plus {
  left: 474px;
}

input[name="adults"] {
  padding-left: 15px;
}

input[name="kids"] {
  margin-left: 12px;
  padding-left: 12px;
}

.search-form-button {
  box-sizing: border-box;
  margin-bottom: 2px;
  width: 456px;
  height: 58px;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 55px;
  color: #fff;
  background-color: #81b3d2;
  border: none;
}

.search-form-button:hover {
  background-color: #669ec0;
}

.search-form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/*
.clients-number {
  display: flex;
  align-items: center;
}

.adults {
  margin-right: 45px;
}

.children {
  margin-right: 35px;
  margin-left: 70px;
}

.minus,
.plus {
  font-size: 21px;
  font-weight: 700;
  padding: 5px 13px;
  border: none;
  background-color: #f2f2f2;
  color: #a9a9a9;
}

.quantity input {
  padding: 10px;
  width: 20px;
  text-align: center;
  border: none;
  background-color: #f2f2f2;
}

.quantity input::placeholder {
  color: #000000;
  opacity: 1;
}

.input-submit {
  padding: 25px 0;
  width: 520px;
  margin-top: 55px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
}

.input-submit:hover {
  background-color: #669ec0;
}

.input-submit:active {
  color: #88b6d1;
  background-color: #5496bd;
}
*/

/*-----------------------MAP-----------------------*/
.map-block img {
  margin: 0 auto;
  padding: 0;
}

/*----------------FILTER-HOTELS----------------*/
.filters {
  display: flex;
  background-image: url("../img/background-hotels.jpg");
  background-position: 50% 10%;
}

.filter {
  padding-left: 70px;
  color: #ffffff;
  border: none;
}

.living {
  margin-left: 70px;
}

.filter legend {
  font-size: 16px;
  padding-top: 30px;
}

.all-inclusive {
  list-style: none;
  padding: 0;
}

.accomodation {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-weight: 400;
}

.accomodation label {
  font-weight: 400;
}

.accomodation input {
  margin-right: 20px;
  height: 25px;
  width: 25px;
  display:inline-block;
  padding: 0;
  box-shadow: inset 0 0 1px 2px black;
}

.accomodation input:checked {
  height: 25px;
  width: 25px;
  display:inline-block;
  padding: 0;
  box-shadow: inset 0 0 1px 2px black;
  }

/*----------------FILTER-RANGE----------------*/
.filter-range {
  margin-left: 260px;
  padding-top: 30px;
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

/*----------------BREADCRUMBS-MENU----------------*/
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 75px;
  background-color: #fefefe;
}

.breadcrumbs h2 {
  font-size: 21px;
  margin-right: 50px;
}

.breadcrumbs p {
  font-size: 12px;
  margin-right: 40px;
}

ul.breadcrumbs {
  align-items: flex-start;
  padding: 0;
  list-style: none;
}

.filter-indicator a {
  text-decoration: none;
  font-size: 12px;
  margin-right: 35px;
  color: #b2b2b2;
}

.filter-indicator a:hover,
.filter-indicator a:link {
  color: #92bdd8;
}

.filter-indicator a:active {
  color: #000000;
}

.arrows {
  text-decoration: none;
  margin-left: 400px;
}

.arrow path:hover {
  fill: #231f20;
}

.arrow path:active,
.arrow path:link {
  fill: #81b3d2;
}

.top {
  margin-right: 10px;
}

/*----------------ABOUT-HOTELS----------------*/
.hotel-searching {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hotel-results {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  padding-right: 75px;
}

.about-hotel {
  padding-left: 75px;
  display: flex;
  align-content: flex-start;
}

.hotel-price {
  padding-left: 30px;
}

a.hotel {
  font-size: 21px;
  text-decoration: none;
  margin: 0;
  color: #000000;
}

a.hotel:hover {
  color: #81b3d2;
}

a.hotel:active {
  color: #b2b2b2;
}

.name-and-price span {
  color: #666666;
}

.more-info,
.booking {
  text-decoration: none;
  padding: 7px 14px;
  color: #ffffff;
}

a.more-info {
  background-color: #81b3d2;
}

a.more-info:hover {
  background-color: #669ec0;
}

a.more-info:active {
  color: #88b6d1;
  background-color: #5496bd;
}

a.booking {
  background-color: #766357;
}

a.booking:hover {
  background-color: #604e43;
}

a.booking:active {
  color: #857871;
  background-color: #503e33;
}

.rating {
  margin: 55px 0 0 0;
  padding: 10px 15px;
  background-color: #f2f2f2;
  color: #666666;
}

.stars-rating {
  padding: 0;
}

.stars {
  float: right;
}

.stars svg {
  padding-left: 5px;
}

/*----------------FOOTER----------------*/
.main-footer {
  margin: 0 auto;
  padding: 35px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-contacts {
  text-decoration: none;
}

.footer-contacts:link,
.footer-contacts:visited {
  font-size: 21px;
  color: #000000;
}

a.footer-contacts:hover {
  color: #81b3d2;
}

a.footer-contacts:active {
  color: #bdbbbc;
}

.footer-social ul {
  display: flex;
  margin: 0;
}

.footer-social {
  padding: 0;
}

.footer-social ul li {
  list-style: none;
  margin: 3px;
  padding: 12px 16px;
  background-color: #81b3d2;
}

.footer-social ul li:hover {
  background-color: #669ec0;
}

.footer-social ul li:active {
  background-color: #5496bd;
}

.social-button svg path:active {
  fill: #88b6d1;
}

.footer-social ul li:nth-child(2) {
  padding: 12px 19px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  margin: 0;
}

.footer-copyright span {
  padding-right: 10px;
  font-size: 14px;
  font-weight: 300;
}

.footer-copyright path:hover {
  fill: #81b3d2;
}

.footer-copyright path:active {
  fill: #bdbbbc;
}
